.interface {
    min-height: 100vh;
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "canvas canvas canvas status positions positions"
        "canvas canvas canvas status positions positions"
        "canvas canvas canvas logs logs logs"
        "controls controls controls controls controls controls";
}

